@import "tailwindcss";
@import "material-react-toastify/dist/ReactToastify.css";


@theme {
  --color-background: #2B292C;
  --color-background-alt: #3A393B;
  --color-foreground: #FFFFFF;
  --color-pokemon: #D53B47;
  --color-digimon: #2B5DB2;
  --height-header: 3rem;
  --padding-header: 3rem;
  --margin-header: 3rem;
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .util-container {
    @apply max-w-screen-lg w-full mx-auto;
  }
  .util-skeleton {
    @apply bg-background-alt animate-pulse;
  }
}